<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Sizer endpoint config -->
		<add key="SizerHost" value="10.155.155.10" />
		<add key="SizerPort" value="8001" />
		<!-- Timeouts in seconds -->
		<add key="OpenTimeoutSec" value="5" />
		<add key="SendTimeoutSec" value="5" />
		<add key="ReceiveTimeoutSec" value="5" />

		<!-- Logging -->
		<!-- If empty, logs will go next to the EXE in a 'logs' folder -->
		<add key="LogDirectory" value="" />
	</appSettings>

	<!-- Database connection placeholder for TimescaleDB/Postgres (not used yet) -->
	<connectionStrings>
		<!-- TODO: update this when you're ready to connect to TimescaleDB -->
		<add name="TimescaleDb"
			 connectionString="Host=127.0.0.1;Port=5432;Username=postgres;Password=changeme;Database=optifresh_sizer;" />
	</connectionStrings>

	<!-- WCF settings will be generated/populated here later when you add the Service Reference. -->
	<system.serviceModel>
		<bindings>
			<!-- placeholder; VS will overwrite/extend this section when adding Service Reference -->
		</bindings>
		<client>
			<!-- placeholder -->
		</client>
	</system.serviceModel>
</configuration>
